<div class="container mt-4">
  <div class="row g-3">
    <div class="col-md-6 col-lg-4" *ngFor="let fleet of filteredFleets">
      <app-fleet-item
        [fleet]="fleet"
        (select)="select.emit(fleet)"
        (delete)="delete.emit(fleet)">
      </app-fleet-item>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12">
        <app-fleet-edit
          *ngIf="selectedFleet"
          [fleet]="selectedFleet"
          (saveFleet)="onFleetSaved($event)">
        </app-fleet-edit>
    </div>
  </div>
</div>

